.dropdownMenu {
  --menu-radius: 7px;
  background-color: white;
  color: black;
  border-radius: var(--menu-radius);
  padding-left: 0px;
  z-index: 9999;
}

.dropdownMenu>li {
  padding-left: 0px;
  margin-left: 0px;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
}

.dropdownMenu>li:first-of-type {
  border-top-left-radius: var(--menu-radius);
  border-top-right-radius: var(--menu-radius);
}

.dropdownMenu>li:last-of-type {
  border-bottom-left-radius: var(--menu-radius);
  border-bottom-right-radius: var(--menu-radius);
}

.dropdownMenu>li:hover {
  background-color: lightgray;
}