.overlay-box {
    position: absolute;
    background-color: red;
    /* Example styling */
    padding: 3px 3px 10px 10px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    /* Ensures the overlay is on top of other content */
}