.dayCell {
    position: relative;
    background: #f3f4f6;
    padding: 10px;
    text-align: center;
    min-height: 48px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.dayCell.top {
    border-top: 1px solid #e6e6e6;
}

.dayCell.left {
    border-left: 1px solid #e6e6e6;
}

.empty {
    background: transparent
}

.today {
    background: #2563eb;
    color: white
}